<% if current_user && current_user.admin %>
  <p>This is the admin index page.  If you'd like to create a new item, <%= link_to "click here", new_item_path %>.</p>
<% end %>

<% @items.each do |item| %>
  <p><%= link_to item.name, item_path(item) %></p>
  <p><%= link_to 'Edit Item', edit_item_path(item) %> | <%= link_to 'Delete Item', item_path(item), method: :delete %></p>
  <img src="<%= item.image %>" height="100" width="100">
  <!-- <%= link_to image_tag(item.image), item_path(item) %> -->
<% end %>