<% if is_admin? %>
  <div class="item-container">
    <span class="page-header">
      <h1>Admin Item View</h1>

      <p><%= link_to "CREATE NEW ITEM", new_item_path %> | <%= link_to "CREATE NEW CATEGORY", new_category_path %> </p>
    </span>

    <% @categories.each do |category| %>
      <div class="individual-item-index">
        <p><%= link_to category.name, category_path(category) %></p>
        <p><%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Delete', category_path(category), method: :delete %></p>
      </div>
    <% end %>

    <% @items.each do |item| %>
      <div class="individual-item-index">
        <%= link_to item.name, item_path(item) %>
        <p><%= link_to 'Edit Item', edit_item_path(item) %> | <%= link_to 'Delete Item', item_path(item), method: :delete %></p>
        <img src="<%= item.image %>" height="100" width="100">
        <!-- <%= link_to image_tag(item.image), item_path(item) %> -->
      </div>
    <% end %>
  </div>
<% end %>