<div class="user-container">
  <div class="individual-user">
    <p>This is where each individual user profile info will go.</p>

    <p><%= link_to "Orders", orders_path(user_id: @user.id) %></p>

    <p> Username: <%= @user.username%></p>
    <p> Email: <%= @user.email%></p>
    <p><%= link_to "Edit Account", edit_user_path %> | <%= link_to "Delete Account", @user, method: :delete %></p>
  </div>
</div>