<div class="item-container">
  <span class="page-header"><h1>Items In Stock</h1><p><%= link_to "CATEGORIES", categories_path %></p></span>



  <% @items.each do |item| %>
    <div class="individual-item-index">
      <%= link_to item.name, item_path(item) %>
      <% if !item.image.blank? %>
          <img src="<%= item.image %>" height="100" width="100">
        <% else %>
          <img src="https://static.orpi.com/image-not-found.png" width="100" height="100">
        <%end%>
      <!-- <%= link_to image_tag(item.image), item_path(item) %> -->
      <% if current_user %>
        <%= link_to "Add To Cart", @item, method: :add_to_cart %>
      <% end %>


    </div>
  <% end %>
</div>