<% if logged_in?%>
  <%= link_to "PROFILE", current_user %> | <%= link_to "LOGOUT", logout %>
<% else %>
  <%= link_to "REGISTER", new_user_path %> | <%= link_to "LOGIN", login_path %>
<% end %>

<p>This is where all of the available items will be visible.  If you'd like to create a new item, <%= link_to "click here", new_item_path %>.</p>


<% @items.each do |item| %>
  <p><%= link_to item.name, item_path(item) %></p>
  <img src="<%= item.image %>" height="100" width="100">
  <!-- <%= link_to image_tag(item.image), item_path(item) %> -->
<% end %>