<div class="item-show">
  <div class="individual-item-show">
    <h2><%= @item.name %></h2> 
    <% if is_admin? %>
      <p><%= link_to 'Edit Item', edit_item_path %> | <%= link_to 'Delete Item', @item, method: :delete %> </p>
    <% end %>

    <% if !@item.image.blank? %>
      <img src="<%= @item.image %>" width="500" height="400">
    <% else %>
      <img src="https://static.orpi.com/image-not-found.png" width="450" height="400">
    <%end%>
  </div>
  <ul id="description">
    <li>Description: <%= @item.description %></li>
    <li>Quantity: <%= @item.quantity %></li>
    <li>Price: <%= number_to_currency(@item.price)  %></li>
  </ul>
  <% if logged_in? %>
    <%= button_to "Add To Cart", method: add_to_cart %>
  <% end %>
  <% if @cart %>
  <%= @cart %>
  <% end %>
</div>