<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnlineShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if is_admin? %>
    <div id="nav-container">
      <nav id="nav">
        <ul class="nav-links">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "ADMIN", admin_path %></li>
          <li><%= link_to "PROFILE", current_user %></li>
          <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  <% elsif logged_in?%>
    <div id="nav-container">
      <nav id="nav">
        <ul class="nav-links">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "PROFILE", current_user %></li>
          <li><%= link_to "LOGOUT", logout_path, method: :delete %></li>
        </ul>
      </nav>
    </div>
  <% else %>
    <div id="nav-container">
      <nav id="nav">
        <ul class="nav-links">
          <li><%= link_to "HOME", root_path %></li>
          <li><%= link_to "REGISTER", new_user_path %></li>
          <li><%= link_to "LOGIN", login_path %></li>
        </ul>
      </nav>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
