<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnlineShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if is_admin? %>
    <nav id="nav"><%= link_to "HOME", root_path %> | <%= link_to "ADMIN", admin_path %> | <%= link_to "PROFILE", current_user %> | <%= link_to "LOGOUT", logout_path, method: :delete %></nav>
  <% elsif logged_in?%>
    <nav id="nav"><%= link_to "HOME", root_path %> | <%= link_to "PROFILE", current_user %> | <%= link_to "LOGOUT", logout_path, method: :delete %></nav>
  <% else %>
    <nav id="nav"><%= link_to "HOME", root_path %> | <%= link_to "REGISTER", new_user_path %> | <%= link_to "LOGIN", login_path %></nav>
  <% end %>
    <%= yield %>
  </body>
</html>
